.footer{
    background: #000;
    margin-top: 100px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu{
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    text-align: start;
}

.footer__menu ul li {
    margin-bottom: 1px;
}

.footer__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__form input {
    margin-bottom: 10px;
}

.footer__form .submit-button{
    background-color: #fff;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
}

.footer__line{
    width: 680px;
    margin: 50px auto 0;
}

.underline{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}