.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.popup {
    width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background: #0056b3;
}


.popup__image {
    max-width: 550px;
}

.popup__form input {
    margin-bottom: 15px;
}