.servicesPage__block{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    /*justify-content: space-between;*/
}

.servicesPage__item-section--title {
    text-align: start;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 26px;
}

.servicesPage__item-section--title:nth-child(n+2) {
    margin-top: 20px;
}

.servicesPage__item {
    width: 380px;
    background-color: white;
    border-radius: 10px;
    text-align: start;
}

.servicesPage__item--img {
    width: 380px;
    height: 274px;
    border-radius: 10px 10px 0 0;
}

.servicesPage__item--title {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
}

.servicesPage__item--text {
    padding: 10px;
    font-size: 18px;
}

.servicesPage__item--text p {
    margin-bottom: 10px;
}

.servicesPage__item--text a {
    color: black;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

