.services__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__title{
    margin-top: 100px;
}

.service{
    width: 380px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.service img {
    width: 60px;
    height: 60px;
}

.service h5 {
    font-weight: 700;
    font-size: 26px;
    font-family: 'overpass', serif;
    margin-left: 15px;
}
